<a href="https://colab.research.google.com/github/rajendran-official/AL_ML_COURSE_ICT/blob/Assignment-on-basic-python/Assignment_on_Basic_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Practice Problems – (Variables,
Operators, Strings, Lists, Tuples)**

1. A financial analyst stores monthly revenues in a list: [120000, 135000, 128000,
142000, 150000]. Find the difference between the highest and lowest revenue without
using loops.

In [85]:
l1=[120000, 135000, 128000, 142000, 150000]
l1

[120000, 135000, 128000, 142000, 150000]

In [86]:
l2=max(l1)-min(l1)
print(l2)

30000

2. Given the tuple account = ('Asha', 'Savings', 56000, 'KCH'), unpack the values into
separate variables and print a formatted string: 'Asha has ₹56000 in her Savings
account (Branch: KCH)'.

In [84]:
t1 = ('Asha', 'Savings', 56000, 'KCH')

name, acc_type, balance, branch = t1
t2=f"{name} has ₹{balance} in her {acc_type} account (Branch : {branch})"

print(t2)

Asha has ₹56000 in her Savings account (Branch : KCH)

3. Convert the list of string numbers ['45000', '56000', '38000'] to integers and find
their average\ balance.

In [82]:
l1=['45000','56000','38000']
l2=[int(i) for i in l1]
l2

[45000, 56000, 38000]

In [83]:
l3=sum(l2)/len(l2)
print(f"The average balance is: {l3:.2f}")

The average balance is: 46333.33

4. Create a list with elements: ['Kochi', 'Chennai', 'Mumbai', 'Delhi', 'Pune']. Replace
'Delhi' with 'Hyderabad' and print the new list in reverse order using slicing.

In [72]:
L1=['Kochi','Chennai','Mumbai','Delhi','Pune']

In [65]:
print(L1)#new list

['Kochi', 'Chennai', 'Mumbai', 'Delhi', 'Pune']

In [73]:
#Find the Delhi index number
L1.index('Delhi')#3 is the index number

3

In [68]:
#Replace 'Delhi' with 'Hyderabad'
L1[3]='Hyderabad'

In [69]:
# updated list
L1

['Kochi', 'Chennai', 'Mumbai', 'Hyderabad', 'Pune']

In [70]:
# print the new list in reverse order using slicing
L1[::-1]

['Pune', 'Hyderabad', 'Mumbai', 'Chennai', 'Kochi']

5. You have two tuples: interest_2024 = (7.1, 7.3, 7.2) and interest_2025 = (7.4, 7.5).
Combine them and print the average of all interest rates.

In [ ]:
t1=(7.1,7.3,7.2)
t2=(7.4,7.5)
t3=sum(t1+t2)/len(t1+t2)
print(f"The average of all interest rates is: {t3:.2f}")

The average of all interest rates is: 7.30

6. A string variable branch_id = 'TVM-FIN-2025'. Extract the branch code (first three
letters) and the year (last four digits).

In [ ]:
l1='TVM-FIN-2025'
l1[:3]
l1[-4:]
print(f"The branch code is: {l1[:3]} and the year is: {l1[-4:]}")

The branch code is: TVM and the year is: 2025

7. Create a list transactions = [10000, -2000, 5000, -1500, 3000]. Without using loops,
find total deposits and withdrawals using list slicing or indexing only.

In [59]:
transactions = [10000, -2000, 5000, -1500, 3000]

total_deposits = sum(transactions[0:1]) + sum(transactions[2:3]) + sum(transactions[4:5])
total_withdrawals = sum(transactions[1:2]) + sum(transactions[3:4])
print(f"Total Withdrawals: {abs(total_withdrawals)}")

Total Withdrawals: 3500

8. Given name = 'John Doe' and balance = 72500, print a message in title case stating
'John Doe has a balance of ₹72500'. Ensure no type errors occur.

In [2]:
Name='John Doe'
Balance=72500
print(f"{Name} has a balance of ₹{Balance}")

John Doe has a balance of ₹72500

9. A tuple customer = ('Kiran', 'Loan', 80000, 7.5). Calculate and print the total amount
payable after 1 year if interest is simple interest based on rate 7.5%

In [38]:
customer = ('Kiran', 'Loan', 80000, 7.5)
principal = customer[2]
interest_rate = customer[3]
time = 1
interest = principal * (interest_rate / 100) * time
total_amount = principal + interest
print(f"The total amount payable after one year is: {total_amount:.2f}")

The total amount payable after one year is: 86000.00

10. Create two lists – branches = ['Kochi', 'Chennai', 'Mumbai'] and profits = [120000,
95000, 134000]. Form a new list of tuples pairing each branch with its profit.

In [36]:
l1 = ['Kochi', 'Chennai', 'Mumbai']
l2 = [120000, 95000, 134000]
l3 = [(l1[0], l2[0]),(l1[1], l2[1]),(l1[2], l2[2])]
print(l3)

[('Kochi', 120000), ('Chennai', 95000), ('Mumbai', 134000)]

11. From a list salaries = [45000, 56000, 38000, 62000, 54000], extract the top three
salaries using slicing only

In [7]:
l1=[45000,56000,38000,62000,54000]
l1.sort(reverse=True)
l1[:3]

[62000, 56000, 54000]

12. Given the tuple exchange_rates = (83.2, 83.1, 83.5, 83.0, 82.9), convert it into a list
and change the third value to 84.0.

In [35]:
t1=(83.2,83.1,83.5,83.0,82.9)
l1=list(t1)
l1[2]=84.0
print(l1)

[83.2, 83.1, 84.0, 83.0, 82.9]

13. Combine two lists customer_names = ['Asha', 'John', 'Meera'] and balances = [56000,
72000, 65000] into a formatted string such as 'Asha:56000, John:72000, Meera:65000'
without loops.

In [34]:
l1=['Asha','John','Meera']
l2=[56000,72000,65000]
print(f"{l1[0]}:{l2[0]}, {l1[1]}:{l2[1]}, {l1[2]}:{l2[2]}")

Asha:56000, John:72000, Meera:65000

14. Given account_info = (Deepa, 'Savings', 98000), use string formatting to print a
sentence 'Account Holder Deepz has ₹98000 in Savings account'.

In [32]:
l1=('Deepa','Savings',98000)
print(f"Account Holder {l1[0]} has ₹{l1[2]} in {l1[1]} account")

Account Holder Deepa has ₹98000 in Savings account

15. Create a nested list storing branch names and their monthly collections: [['Kochi',
[120000, 135000]], ['Chennai', [95000, 110000]]]. Print only the collection of Chennai
branch without using loops.

In [31]:
l1=['Kochi',[12000,135000]],['Chennai',[95000,110000]]
l2=l1[1][1]
print(f'The collection of chennai branch is {l2}')

The collection of chennai branch is [95000, 110000]