<a href="https://colab.research.google.com/github/rajendran-official/AI_ML_COURSE_ICT/blob/Manappuram_Day5_OOPS/Manappuram_Day5_OOPS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Defining Class and Creating Objects

In [ ]:
class BankAccount():
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance

    def deposit(self, amount):
        self.balance += amount
        print(f"Deposited {amount}\nNew balance is {self.balance}")

    def withdraw(self, amount):
        if amount <= self.balance:
            self.balance -= amount
            print(f"Withdrawn {amount}\nNew balance is {self.balance}")
        else:
            print("Insufficient Funds!!!")

    def __str__(self):
        return f"Account details\nName: {self.name}\nBalance: {self.balance}"

    def __repr__(self):
        return f"BankAccount(name='{self.name}', balance={self.balance})"

# Creating account
acc1 = BankAccount("Rajendran", 1000)
acc2 = BankAccount("Vijai", 2000)

# Using repr
print(repr(acc1))  # Output: BankAccount(name='Rajendran', balance=1000)

# Using str
print(acc1)        # Output: Account details\nName: Rajendran\nBalance: 1000

BankAccount(name='Rajendran', balance=1000)
Account details
Name: Rajendran
Balance: 1000

In [ ]:
acc2.deposit(50000)
acc1.withdraw(15000)

Deposited 50000
New balance is 101000
Insufficient Funds!!!

In [ ]:
acc1.deposit(10000)

Deposited 10000
New balance is 10500

In [ ]:
acc1.withdraw(1000)

Withdrawn 1000
New balance is 2000

In [ ]:
acc2.deposit(2000)

Deposited 2000
New balance is 3000

In [ ]:
acc2.withdraw(1000000)

Insufficient Funds!!!

In [ ]:
print(acc1)

Account details
Name: Rajendran
Balance: 10500

In [ ]:
print(acc2)

Account details
Name: Vijai
Balance: 101000

In [ ]:
print(repr(acc1))

BankAccount(name='Rajendran', balance=1000)

In [ ]:

class SavingsAccount(BankAccount):
    def __init__(self, name, balance, int_rate):
        super().__init__(name, balance)
        self.int_rate = int_rate

    def add_interest(self):
        interest = self.balance * self.int_rate
        self.balance += interest
        print(f"Interest added: {interest}\nNew balance: {self.balance}")

    def __str__(self):
        return (f"Savings Account Details\n"
                f"Name: {self.name}\n"
                f"Balance: {self.balance}\n"
                f"Interest Rate: {self.int_rate}")

In [ ]:
acc3 = SavingsAccount("Rajendran", 3000, 7)

In [ ]:
acc3.add_interest()

Interest added: 21000
New balance: 24000

In [ ]:
acc4 =SavingsAccount("Anjitha",3000,7)

In [ ]:
acc4.add_interest()

Interest added: 21000
New balance: 24000

In [ ]:
print(acc3)

Savings Account Details
Name: Rajendran
Balance: 24000
Interest Rate: 7

In [ ]:
print(acc3)

Savings Account Details
Name: Rajendran
Balance: 24000
Interest Rate: 7

In [ ]:
class CurrentAccount(BankAccount):
    def __init__(self, name, balance):
        super().__init__(name, balance)

    def deposit(self, amount):
        self.balance += amount
        print(f"Deposited {amount}\nNew balance is {self.balance}")

    def withdraw(self, amount):
        if amount <= self.balance:
            self.balance -= amount
            print(f"Withdrawn {amount}\nNew balance is {self.balance}")
        else:
            print("Insufficient Funds!!!")

In [ ]:
acc7 =CurrentAccount("Aswathy",3000)

In [ ]:
acc8 =CurrentAccount("Adithya",5000)

In [ ]:
print(acc7)

Account details
Name: Aswathy
Balance: 3000

In [ ]:
print(acc1)
print(acc4)

Account details
Name: Rajendran
Balance: 1000
Savings Account Details
Name: Anjitha
Balance: 24000
Interest Rate: 7

In [ ]:
acc4.withdraw(100000)

Insufficient Funds!!!

In [ ]:
#Abstract class
from abc import ABC, abstractmethod

#  base class
class Animal(ABC):

    @abstractmethod
    def speak(self):
        pass

# Subclass Dog
class Dog(Animal):
    def speak(self):
        print("Bow Bow")

# Subclass Cat
class Cat(Animal):
    def speak(self):
        print("Meow Meow")

d = Dog()
c = Cat()

In [ ]:
d.speak()
c.speak()

Bow Bow
Meow Meow

In [ ]:
#Abstract Base Class
from abc import ABC, abstractmethod

class Library(ABC):
    @abstractmethod
    def show_details(self):
        pass

In [ ]:
class Book(Library):
    def __init__(self, title, author, isbn):
        self.title = title
        self.author = author
        self.isbn = isbn

    def show_details(self):
        print(f"Book Title: {self.title}\nAuthor: {self.author}\nISBN: {self.isbn}")

In [ ]:
book1 = Book("Python Programming", "John Doe", "ISBN001")

<__main__.Book object at 0x7fb4228a3080>

In [ ]:
book2 = Book("Data Structures", "Jane Smith", "ISBN002")

In [ ]:
def show_details(self):
        print(f"Book Title: {self.title}\nAuthor: {self.author}\nISBN: {self.isbn}")

In [ ]:
#Member Class with Encapsulation
class Member(Library):
    def __init__(self, name, member_id):
        self.name = name
        self.member_id = member_id
        self.__books_issued = []

    def issue_book(self, book):
        self.__books_issued.append(book)

    def get_issued_books(self):
        return self.__books_issued

    def show_details(self):
        print(f"Member Name: {self.name}\nMember ID: {self.member_id}")
        print("Books Issued:")
        for book in self.__books_issued:
            print(f" - {book.title}")

In [ ]:
#Inheritance: StudentMember and FacultyMember
class StudentMember(Member):
    def __init__(self, name, member_id, course):
        super().__init__(name, member_id)
        self.course = course

    def show_details(self):
        super().show_details()
        print(f"Course: {self.course}")

class FacultyMember(Member):
    def __init__(self, name, member_id, department):
        super().__init__(name, member_id)
        self.department = department

    def show_details(self):
        super().show_details()
        print(f"Department: {self.department}")

In [ ]:
student1 = StudentMember("Rajendran", "S001", "Computer Science")

In [ ]:
student2 = StudentMember("Anjitha","S002","Computer Science")

In [ ]:
student3 = StudentMember("Aswathy","S003","Computer Science")

In [ ]:
faculty = FacultyMember("Dr. Vijai", "F001", "Information Technology")

In [ ]:
book1 = Book("Python Programming", "John Doe", "ISBN001")

In [ ]:
student1.issue_book(book1)

In [ ]:
faculty.issue_book(book2)

In [ ]:
print("\n--- Book Details ---")
book1.show_details()
book2.show_details()

--- Book Details ---
Book Title: Python Programming
Author: John Doe
ISBN: ISBN001
Book Title: Data Structures
Author: Jane Smith
ISBN: ISBN002

In [ ]:
print("\n--- Member Details ---")
student1.show_details()

--- Member Details ---
Member Name: Aswathy
Member ID: S003
Books Issued:
Course: Computer Science

In [ ]:
print("\n--- Member Details ---")
student1.show_details()
faculty.show_details()

--- Member Details ---
Member Name: Anjitha
Member ID: S002
Books Issued:
Course: Computer Science
Member Name: Dr. Vijai
Member ID: F001
Books Issued:
 - Data Structures
Department: Information Technology

In [ ]:
# Create books
book1 = Book("Python Programming", "John Doe", "ISBN001")
book2 = Book("Data Structures", "Jane Smith", "ISBN002")

# Create members
student = StudentMember("Rajendran", "S001", "Computer Science")
faculty = FacultyMember("Dr. Vijai", "F001", "Information Technology")

# Issue books
student.issue_book(book1)
faculty.issue_book(book2)

# Display details
print("\n--- Book Details ---")
book1.show_details()
book2.show_details()

print("\n--- Member Details ---")
student.show_details()
faculty.show_details()

--- Book Details ---
Book Title: Python Programming
Author: John Doe
ISBN: ISBN001
Book Title: Data Structures
Author: Jane Smith
ISBN: ISBN002

--- Member Details ---
Member Name: Rajendran
Member ID: S001
Books Issued:
 - Python Programming
Course: Computer Science
Member Name: Dr. Vijai
Member ID: F001
Books Issued:
 - Data Structures
Department: Information Technology

In [ ]:
student3.show_details()

Member Name: Aswathy
Member ID: S003
Books Issued:
Course: Computer Science

In [ ]:
StudentMember.

AttributeError: type object 'StudentMember' has no attribute 'append'

In [ ]:
student_list = []
student_list.append(student1)
student_list.append(student2)
student_list.append(student3)

In [ ]:

print("\n--- All Student Members ---")
for student in student_list:
    student.show_details()
    print("-" * 30)

--- All Student Members ---
Member Name: Rajendran
Member ID: S001
Books Issued:
Course: Computer Science
------------------------------
Member Name: Anjitha
Member ID: S002
Books Issued:
Course: Computer Science
------------------------------
Member Name: Aswathy
Member ID: S003
Books Issued:
Course: Computer Science
------------------------------

In [ ]:
faculty_list =[]

In [ ]:
faculty_list.append(faculty_list)

In [ ]:

print("\n--- Faculty Members ---")
for faculty in faculty_list:
    faculty.show_details()
    print("-" * 30)

--- Faculty Members ---

AttributeError: 'list' object has no attribute 'show_details'