<a href="https://colab.research.google.com/github/rajendran-official/AL_ML_COURSE_ICT/blob/main/Manappuram_day01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

My first notebook

In [2]:
#My first progran
print ("Hello Rajendran !")
print (233)
print(4.9)
print ("Welcome to", end ='')
print("the world of python ", end = '!')
print ("\"welcome to the world of python\"")
age =13
print (age)
print(type(age))
mark = 4.5
print(mark)
print(type(mark))
fred =200
john= fred
print(john)
Item_name= "computer" #A string
Item_qty = 10
Item_value = 1000.23
print(Item_name)
print(Item_qty)
print(Item_value)

Hello Rajendran !
233
4.9
Welcome tothe world of python !"welcome to the world of python"
13
<class 'int'>
4.5
<class 'float'>
200
computer
10
1000.23

In [ ]:
x,y,z=10,44.67, 6+8j
print(x,type(x))
print(y,type(y))
print(z,type(z))

10 <class 'int'>
44.67 <class 'float'>
(6+8j) <class 'complex'>

In [ ]:
greeting ="Hi Programmers."
print(greeting + "I am learning Python!")

Hi Programmers.I am learning Python!

In [ ]:
greeting="Hello world"
print(greeting)
print("\n")
print("Python"*3)
print("Python\n"*3)

Hello world


PythonPythonPython
Python
Python
Python

In [ ]:
forename=input("What is your forename? ")

surname=input("What is your surname? ")
print("Hello", forename, surname)

What is your forename? ra
What is your surname? j
Hello ra j

In [ ]:
s="python"
print([-len(s)])

In [ ]:
num1 = input("Enter a number")
print(num1,type(num1))

In [ ]:
num1 = float(input("Enter a number"))
print(num1,type(num1))

In [ ]:
s= "python"
print(s[0:4])
print(s[1:4])
print(s[:4])
print(s[4:])
print(s[0:6:2])
print(s[::])
print(s[::-1])
print(s[-5:-2])

In [ ]:
s.islower()
s.capitalize()
s.upper()

In [ ]:
s.islower()

In [ ]:
num1=20
num2=3
print(num1+num2)
print(num1-num2)
print(num1/num2)
print(num1%num2)
print(num1//num2)
print(num1**num2)

In [ ]:
3>5

In [ ]:
3>=3

In [ ]:
3<5

In [ ]:
(3>5) and (3==3)

In [ ]:
(3>5) or (3==3)

In [ ]:
not (3>5)

In [ ]:
a=10
a+=5  #a=a+5
print(a)

In [ ]:
# Program to find area of rectangle
length =10
breadth =20
area = length * breadth
print(f"the area of the rectange is {area}")

the area of the rectange is 200

In [ ]:
# Read radius of the circle from user and print area of circle
import math

# Read radius from user
radius = float(input("Enter the radius of the circle: "))
# Calculate area
area = math.pi * (radius ** 2)

# Print the area
print(f"The area of the circle is {area:.2f}.")

In [ ]:
radius = float(input("Enter radius"))
print(f"Area of the circle is {3.14*radius**2}")

In [ ]:
from math import pi
radius = float(input("Enter radius"))
print(f"Area of circle is {pi*radius**2}")

In [ ]:
import math
print(math.pi)

In [ ]:
celsius = int(input("Enter temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32
print(f"The temperature in Fahrenheit is {fahrenheit}.")

In [ ]:
#hell0123
input_string = "hello123"
result = input_string[0].upper() + input_string[1:-3] + " " + input_string[-3:]

# Print the result
print(result)

In [ ]:
#account_number = "1234567890123456"
#output: xxxx-xxxx-xxxx-3456
account_number = "1234567890123456"
output = "xxxx-xxxx-xxxx-" + account_number[-4:]
print(output)