<a href="https://colab.research.google.com/github/rajendran-official/AI_ML_COURSE_ICT/blob/Manappuram_day04_functions/Manappuram_day04_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num1 = 34
num2 =3
num3 = num1+num2
print(num3)

37

In [ ]:
num4 =98
num5 = 900
num6 = num4+num5
print(num6)

998

In [ ]:
#function name
# inputs/(arguments)
# output

In [ ]:
def add_Numbers(var1, var2):
  result = var1 + var2
  print(result)
  #return result

In [ ]:
  #print(add_Numbers(69,37))
  add_Numbers(78,37)

115

In [ ]:
def display_error():
  print('your username or password is incorrect')

In [ ]:
display_error()

your username or password is incorrect

In [ ]:
def cube_number(number):
    cube = number ** 3
    return cube
num8=5
num8 = cube_number(num8)
print(num8)

125

***complicated functions***

In [ ]:
u_name = 'Rajendran'
p_word = 'Admin'

In [ ]:
def MFA():
    return True

def display_error():
  print('your username or password is incorrect')

def login():
    username = input('Enter your username: ')
    password = input('Enter your password: ')

    if (username == u_name):
        if (password == p_word):
            if (MFA()):
                return True
                print('Success: Welcome!')
            else:
                print(' failed.')
                return False
        else:
            return False
    else:
        return False

In [ ]:
if(login()):
  print('welcome')
else:
 display_error()

Enter your username: Rajendran
Enter your password: Admin
welcome

** Simple Lambda Function (Squaring a Number):**

In [ ]:
square = lambda x: x * x
print(square(5))
# Output: 25

25

In [ ]:
add_numbers = lambda a, b: a + b
print(add_numbers(10, 7))
# Output: 17

17

In [ ]:
numbers = [1, 2, 3, 4, 5]
doubled_numbers = list(map(lambda x: x * 2, numbers))
print(doubled_numbers)
# Output: [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

In [ ]:
numbers = [1, 2, 3, 4, 5]
doubled_numbers = list(map(lambda x: x * 2, numbers))
print(doubled_numbers)
# Output: [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]